@inherits LayoutComponentBase
@inject BackendlessService BS

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu /> 
<RadzenTooltip />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-5 sticky-top shadow">
       
        <div class="m-4">
            <RadzenProfileMenu>
                <Template>
                    <RadzenGravatar Email="user@example.com"/>
                </Template>
                <ChildContent>
                    <RadzenProfileMenuItem Text="Your Profile" Icon="account_circle" />
                    <RadzenProfileMenuItem Text="Residence Enrolled" Icon="home" />
                    <RadzenProfileMenuItem Text="Sign out" Icon="logout" Path="logout"/>
                </ChildContent>

            </RadzenProfileMenu>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
