@page "/announcements"


<EditForm Model="@announcement" OnValidSubmit="AddAnnouncement">
    <RadzenCard class="mb-5">
        <RadzenFieldset Text="Make Announcement">
            <div class="row my-3">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Announcement Title" />
                </div>
                <div class="col-md-8">
                    <RadzenTextBox @bind-Value="announcement.AnnouncementTitle" style="width: 100%;"/>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Announcement Description" />
                </div>
                <div class="col-md-8">
                    <RadzenTextArea @bind-Value="announcement.AnnouncementDescription" style="width: 100%;"/>
                </div>
            </div>
            
            <RadzenButton class="my-3" type="submit" Text="Save" ButtonStyle="Radzen.ButtonStyle.Info"/>

        </RadzenFieldset>

    </RadzenCard>
</EditForm>

<AnnouncementsList/>

@code {
    Announcement announcement = new Announcement();

    private void AddAnnouncement()
    {

    }
}
