@page "/logout"

@inject BackendlessService backendlessService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService

<h2 class="text-center text-muted">Loging user out.......</h2>

@code
{
    public BackendlessUser CurrentlyLoggedUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentlyLoggedUser = Backendless.UserService.CurrentUser;
        await LogoutUser();
    }

    private async Task LogoutUser()
    {
        await ResLinkUserLogin.LogoutUser();
        NotificationMessage message = new NotificationMessage
        {
            Severity = NotificationSeverity.Info,
            Detail = "Successfully logged out",
            Duration = 4000
        };

        NotificationService.Notify(message);

        NavigationManager.NavigateTo("/");
    }
}
