@inject DialogService DialogService

<h3 class="text-muted text-center">House Committe List</h3>

<RadzenGrid class="shadow my-3" AllowFiltering="true" AllowPaging="true" PageSize="5"
            AllowSorting="true" Data="@HouseCommittees" TItem="HouseCommittee" ColumnWidth="200px">
    <Columns>
        <RadzenGridColumn TItem="HouseCommittee" Property="Student.StudentNumber" Title="Student Number" />
        <RadzenGridColumn TItem="HouseCommittee" Property="Student.FullNames" Title="First Name" />
        <RadzenGridColumn TItem="HouseCommittee" Property="Student.LastName" Title="Last Name" />
        <RadzenGridColumn TItem="HouseCommittee" Property="Student.Gender.GenderName" Title="Gender" />
        <RadzenGridColumn TItem="HouseCommittee" Property="Student.PhoneNumber" Title="Phone Number" />
        <RadzenGridColumn TItem="HouseCommittee" Property="Student.RoomNumber" Title="Room Number" />

        <RadzenGridColumn TItem="HouseCommittee" Context="hc" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">

            <Template Context="hc">

                <RadzenButton Icon="edit" Size="ButtonSize.Medium" />

            </Template>

        </RadzenGridColumn>

        <RadzenGridColumn TItem="HouseCommittee" Context="hc" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">

            <Template Context="hc">

                <RadzenButton Icon="visibility" Size="ButtonSize.Medium" Click="(() => AdminDetails(hc))"/>

            </Template>

        </RadzenGridColumn>

    </Columns>
</RadzenGrid>

@code 
{
    [Parameter]
    public List<HouseCommittee> HouseCommittees { get; set; }


    async Task AdminDetails(HouseCommittee hc)
    {
        await DialogService.OpenAsync<UserProfile>("Admin Details", new Dictionary<string, object> { { "HCProfile", hc } });
    }

}
