
<h3 class="text-muted">House Members List</h3>

<RadzenGrid class="shadow my-3" AllowFiltering="true" AllowPaging="true" PageSize="5"
            AllowSorting="true" Data="@students" TItem="Student" ColumnWidth="200px">
    <Columns>
        <RadzenGridColumn TItem="Student" Property="StudentNumber" Title="Student Number" />
        <RadzenGridColumn TItem="Student" Property="FirstNames" Title="First Name" />
        <RadzenGridColumn TItem="Student" Property="LastName" Title="Last Name" />
    </Columns>
</RadzenGrid>

@code {

    List<Student> students = new List<Student>();


}


